.html{
  font-size: 16px;
  box-sizing: border-box;
  font-family: 'Open Sans', sans-serif;
}

*,
::before,
::after{
  box-sizing: inherit;
}

body{
  margin: 0;
}
header{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  height: 60px;
  box-shadow: 1px 1px 11px 2px #00000014;
}
header nav{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  padding: 10px;
}

header nav a{
  border: none;
  text-decoration: none;
  height: 40px;
  font-size: 24px;
  color: aliceblue;
  padding: 5px;
  border-radius: 10px;
  background-color: #1111c4;
}

.cardMenu{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.CardMenu-sectionTitle{
  font-size: 2.5rem;
}

.cardMenu-container{
  max-width: 400px;
  display: flex;
  justify-content: center;
  align-items: left;
  flex-direction: column;
  border: 1px solid gray;
  border-radius: 5px;
}

.cardMenuTitle{
  display: flex;
  padding: 10px;
  gap: 10px;
  background-color: #f0f0f0;
  border-radius: 5px 5px 0px 0px;
  border-bottom: 1px solid gray;

}

.cardMenuTitle button{
  border: none;
  padding: 10px;
  background-color: #f0f0f0;
  color: #3374da;
  cursor: pointer;
}

.cardMenuTitle button:nth-child(1){
  background-color: #3374da;
  color: white;
  border-radius: 5px;
}

.cardMenu-content{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  padding: 0px 50px 10px 50px;
}

.cardMenu-content p{
  margin: 0px 0px 20px 0px;
}

.cardMenu-content button{
  background-color: #3374da;
  color: white;
  border: none;
  border-radius: 5px;
  padding: 8px;
  cursor: pointer;
}

.simpleCard{
  margin-top: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.simpleCard-sectionTitle{
  font-size: 2.5rem;
}

.simpleCard-container{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
}

.simpleCard-content{
  max-width: 300px;
  display: flex;
  flex-direction: column;
  border: 1px solid #489aaa;
  border-radius: 5px;
}

.simpleCard-title{
  border-radius: 5px 5px 0px 0px;
  background-color: #f0f0f0;
  border-bottom: 1px solid gray;
  display: flex;
  padding-left: 10px;
}

.simpleCard-title p{
  font-size: 1.2rem;
}

.simpleCard-subtitle{
  padding-left: 10px;
}

.simpleCard-content:nth-child(2){
  border: 1px solid gray;
}

.simpleCard-content:nth-child(3){
  border: 1px solid #915968;
}

.simpleCard-content:nth-child(1) .simpleCard-subtitle p{
  color: #489aaa;
}

.simpleCard-content:nth-child(2) .simpleCard-subtitle p{
  color: gray;
}

.simpleCard-content:nth-child(3) .simpleCard-subtitle p{
  color: #915968;
}